.app__laurels-content{
    display: flex;
}
.app__awards{
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width:450px) {
    .app__awards{
        flex-direction: column;
    }
    .app__wrapper_img img{
        width: 80%;
    }

}